.brands-page {
    width: 100%;
}

h2 {
    margin: 0;
}

.brands-page h1{ 
    text-align: center;
}

.brands {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    text-align: left;
    max-width: 100%;
    flex-wrap: wrap;
}

.productsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}